.container{
    display: flex;
    flex-wrap: wrap;
    padding: 10% 0px 0 7px;
    z-index: 3;
}
.card{
    margin: 0 0 0px 14px;
    height:330px;
}

.content{
    display: flex;
    flex-direction: row;
}

.name{
    font-family: Roboto,Arial,sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.detail{
    font-family: Roboto,Arial,sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #606060;
}

.right{
    padding-left: 15px;
    padding-right: 24px;
}

.divImg{
    border-radius: 13px;
    overflow: hidden;
    background-color: #db1a1a;
    height: 190px;
    width: 338px;
}

.left{
   padding-top: 15px;
}

.profileImg{
    border-radius: 100%;
    overflow: hidden;
    background-color: aquamarine;
    width: 36px;
    height: 36px;
}
@media only screen and (max-width: 1180px){
    .container{
        padding: 13% 0px 0 7px;
    }
   
}

@media only screen and (max-width: 860px){
    .container{
        padding: 19% 0px 0 7px;
    }
}

@media only screen and (max-width: 500px){
    .container{
        display: flex;
        flex-direction: column;
        padding: 40% 0px 0 7px;
    }
    .card{
        margin: 0 0 0px 5%;
    }
    
}